<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.jugadfunda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-sdk tools:overrideLibrary="com.truecaller.android.sdk"/>


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_jugaadfundaicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_jugaadfundaicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".home.sessions.QueryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.sessions.sessiondetailsandreport.SessionDetailsandReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".businessactivity.CanvasTemplateActivity"
            android:label="Business Canvas Template"
            android:screenOrientation="landscape" />
        <activity
            android:name=".track.ZoomImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".track.ScheduleTrackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.questions.StartQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.NotificationSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.comparequiz.CompareQuizActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.JFFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data android:name="com.truecaller.android.sdk.PartnerKey" android:value="@string/partnerKey"/>

    </application>

</manifest>